*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}/* no siempre se usa el border-box */
ul{
    margin:16px 0 16px
}
li{
  
    list-style: none;
}

a{
    color: black;
    text-decoration: none;  
}
h3{
   
    font-size: 24px;
    font-family: var(--FuentePrincipal);

}
footer{
    text-align: center;
}
h4{
    font-family: var(--FuentePrincipal);
    margin-top: 4px;
    margin-bottom: 1px;
}