/* correr logo mas a la izq(aunque me gusta mas como queda en el centro),alejar del margen la barra de busqueda,correr mas al margen los li,centrar menu hamburguesa */

header .logo{
    margin: 0px 35px 0;
    text-align: left;
    padding: 30px 0 15px;
}

header .logo img {
    width: 50%;
}
header {
    
    background-color: var(--colorAmarillo);
    padding: 20px 0;
    background-size: 70%;
    background-position: left 0;
   
}
header nav{
    margin: 0 1px 0 20px;
}

header ul p{
    margin: 24px 0 25px;
}
header ul li {
    font-family: var(--FuentePrincipal);
    text-align: left;
    font-size: 12px;
    

}

header button.menu {
    text-align: center;
    background-color: var(--colorCeleste);
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 30px 186px 0;
    margin-bottom: 30px;
    border-radius: 17%;
    border: 1px solid var(--colorCeleste);
    color: white
}
header p {
    text-align: center;
    font-size: 12px;
    font-family: var(--FuentePrincipal);
}