.home main .banner{
    display: none;
}/* corregir posicion */
.home main section article{
    margin:20px 0;
    position: relative;;
}
.home main section .producto{
    width: 100%;
}
.home main p.precio{
font-size: 18px;
font-family: var(--FuentePrincipal);
}
.home main p.descuento{
    font-size: 16px;
    font-family: var(--FuentePrincipal);
}
.home main p.descripcion{
    font-size: 16px;
    font-family: var(--FuentePrincipal);
}